body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: darkkhaki;
    min-height: 10vh;
    max-height: 20vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > .card {
    background-color: bisque;
    height: 200px;
    width: 250px;
}
