body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: darkkhaki;
    min-height: 10vh;
    max-height: 20vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    max-height: 70vh;
}

.container > .card {
    background-color: bisque;
    height: 200px;
    width: 250px;
    margin: 15px;
}
