body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: darkkhaki;
    min-height: 10vh;
    max-height: 20vh;
}

.middle {
    background-color: lightsalmon;
    min-height: 35vh;
    max-height: 45vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    max-height: 70vh;
}

.container > .card {
    background-color: bisque;
    height: 200px;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

#read-check {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.readStatus {
    background-color: dodgerblue;
}

.remove {
    background-color: firebrick;
}

.bookIsReadDisplay {
    box-shadow: 1px 1px 10px 3px green;
}

.bookIsNotReadDisplay { 
    box-shadow: 1px 1px 10px 3px yellow;
}
